<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('表格传值给父页面')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "subject/subject";
        var datas = [[${@dict.getType('sys_normal_disable')}]];

        $(function() {
            var options = {
                url: prefix + "/list",
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
                columns: [{
		            checkbox: true
				},
				{
					field: 'id',
					title: '主键ID',
					visible: false
				},
				{
					field: 'title',
					title: '标题'
				},
				{
					field: 'content',
					title: '内容'
				},
				{
					field: 'createBy',
					title: '负责教师用户名',
					visible: false

				},
				{
					field: 'createByName',
					title: '负责教师'
				}]
            };
            $.table.init(options);
        });
        
        /* 添加用户-选择用户-提交 */
		function submitHandler(index, layero) {
			let eleId = '#'+[[${eleId}]];
			var createBy = $.table.selectColumns("createBy");
			var createByName = $.table.selectColumns("createByName");
			var title = $.table.selectColumns("title");
			if (title.length == 0) {
				$.modal.alertWarning("请至少选择一条记录");
				return;
			}
			if (title.length > 1) {
				$.modal.alertWarning("最多只能选择一条记录");
				return;
			}
			// 父页面的方法
			// parent.selectUsers();
			// 父页面的变量
			parent.$(eleId+'subject').val(title);
			parent.$(eleId+'teacher').val(createByName);
			parent.$(eleId+'teacherusername').val(createBy);
			$.modal.close();


		}
    </script>
</body>
</html>