<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增课题申请')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-subject-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">第一课题：</label>
                <div class="col-sm-8">
                    <input name="firstsubject" class="form-control" id="firstsubject" onclick="selectUsersToParent('first')" type="text" readonly style="background-color: #fff">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">第一课题老师：</label>
                <div class="col-sm-8">
                    <input name="firstteacher" id="firstteacher" class="form-control" type="text" readonly style="background-color: #fff">
                </div>
            </div>
            <div class="form-group" hidden>
                <label class="col-sm-3 control-label">第一意向老师用户名：</label>
                <div class="col-sm-8">
                    <input name="firstteacherusername" id="firstteacherusername" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">第二课题：</label>
                <div class="col-sm-8">
                    <input name="secondsubject" id="secondsubject" class="form-control" onclick="selectUsersToParent('second')" type="text" readonly style="background-color: #fff">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">第二课题老师：</label>
                <div class="col-sm-8">
                    <input name="secondteacher" id="secondteacher" class="form-control" type="text" readonly style="background-color: #fff">
                </div>
            </div>
            <div class="form-group" hidden>
                <label class="col-sm-3 control-label">第二课题老师用户名：</label>
                <div class="col-sm-8">
                    <input name="secondteacherusername" id="secondteacherusername" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">自主提交课题：</label>
                <div class="col-sm-8">
                    <input name="thirdsubject" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">自主课题教师：</label>
                <div class="col-sm-8">
                    <input name="thirdteacher" id="thirdteacher" class="form-control" onclick="selectUsersToAuthor()" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">自主课题教师用户名：</label>
                <div class="col-sm-8">
                    <input name="thirdteacherusername" id="thirdteacherusername" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "subject"
        $("#form-subject-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-subject-add').serialize());
            }
        }

        $("input[name='applyTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        function selectUsersToParent(obj){
            $.modal.open("选择课题", prefix + "/parent/" + obj);
        }
        function selectUsersToAuthor(obj){
            $.modal.open("选择课题", prefix + "/author/"+112);
        }
    </script>
</body>
</html>