<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('课题申请列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>第一课题老师：</label>
                                <input type="text" name="firstteacher"/>
                            </li>
                            <li>
                                <label>第一意向老师用户名：</label>
                                <input type="text" name="firstteacherusername"/>
                            </li>
                            <li>
                                <label>第二课题老师：</label>
                                <input type="text" name="secondteacher"/>
                            </li>
                            <li>
                                <label>第二课题老师用户名：</label>
                                <input type="text" name="secondteacherusername"/>
                            </li>
                            <li>
                                <label>自主课题教师：</label>
                                <input type="text" name="thirdteacher"/>
                            </li>
                            <li>
                                <label>自主课题教师用户名：</label>
                                <input type="text" name="thirdteacherusername"/>
                            </li>
                            <li>
                                <label>申请人：</label>
                                <input type="text" name="applyUser"/>
                            </li>
                            <li class="select-time">
                                <label>申请时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginApplyTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endApplyTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:subject:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:subject:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:subject:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:subject:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
     <script th:src="@{/js/activiti.js}"></script>

     <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:subject:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:subject:remove')}]];
        var prefix = ctx + "subject";
        var currentUser = [[${currentUser}]];


        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "课题申请",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'firstsubject', 
                    title: '第一课题'
                },
                {
                    field: 'firstteacher', 
                    title: '第一课题老师'
                },
                {
                    field: 'secondsubject', 
                    title: '第二课题'
                },
                {
                    field: 'secondteacher', 
                    title: '第二课题老师'
                },
                {
                    field: 'thirdsubject', 
                    title: '自主提交课题'
                },
                {
                    field: 'thirdteacher', 
                    title: '自主课题教师'
                },
                {
                    field: 'applyUser', 
                    title: '申请人'
                },
                {
                    field: 'applyTime', 
                    title: '申请时间'
                },
                {
                    field: 'taskName',
                    title: '当前任务名称',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return '<span class="badge badge-primary">' + value + '</span>';
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        debugger;
                        if (row.instanceId) {
                            actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.id + '\')"><i class="fa fa-eye"></i> 表单数据</a> ');
                            actions.push('<a class="btn btn-warning btn-xs" href="javascript:void(0)" onclick="showHistoryDialog(\'' + row.instanceId + '\')"><i class="fa fa-list"></i> 审批历史</a> ');
                            actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="showProcessImgDialog(\'' + row.instanceId + '\')"><i class="fa fa-image"></i> 进度查看</a> ');
                            if (row.taskName.indexOf('已结束') === -1) {
                                actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="cancelApply(\'' + row.instanceId + '\',\'' + row.createBy + '\')"><i class="fa fa-times"></i> 撤销</a> ');
                                var suspendOrActive = row.suspendState === '2' ? '激活' : '挂起';
                                var icon = row.suspendState === '2' ? 'fa fa-check' : 'fa fa-stop';
                                actions.push('<a class="btn btn-warning btn-xs" href="javascript:void(0)" onclick="suspendOrActiveApply(\'' + row.instanceId + '\',\'' + row.createBy + '\',\'' + row.suspendState + '\')"><i class="' + icon + '"></i> ' + suspendOrActive + '</a> ');
                            }
                        } else {
                            actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="submitApply(\'' + row.id + '\',\'' + row.createBy + '\')"><i class="fa fa-user"></i> 提交申请</a> ');
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        }
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function submitApply(id, createBy) {
            if (createBy !== currentUser.loginName) {
                $.modal.alertWarning("不允许非创建人提交申请！");
                return;
            }
            $.modal.confirm("确认要提交申请吗?", function() {
                var url = prefix + "/submitApply";
                var data = { "id": id };
                $.operate.submit(url, "post", "json", data);
            });
        }

        function cancelApply(instanceId, createBy) {
            if (createBy !== currentUser.loginName) {
                $.modal.alertWarning("不允许非创建人撤销申请！");
                return;
            }
            $.modal.confirm("确认要撤销申请吗?", function() {
                var url = ctx + "process/cancelApply";
                var data = { "instanceId": instanceId };
                $.operate.submit(url, "post", "json", data);
            });
        }
    </script>
</body>
</html>